<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excursion</title>
    <!-- Link to the external CSS file: resources/css/style.css -->
    <link rel="stylesheet" href="resources/css/style.css">
</head>
<body>

    <!-- Top Navigation/Header Section -->
    <header class="header">
        <h1 class="header--title">Excursion</h1>
        <!-- Link to the app -->
        <p class="header--download-link">
            <a href="#">Download</a>
        </p>
    </header>

    <!-- Main Content will go here -->
    <main>

    </main>

    <!-- Footer will go here later -->
    <footer>

    </footer>

</body>
</html>
